body{
    margin:0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right,#4facfe,#00f2fe);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    background:white;
    padding:30px;
    border-radius:15px;
    width:350px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
}

.search-box{
    display:flex;
    gap:10px;
}

input{
    flex:1;
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

button{
    padding:10px 15px;
    border:none;
    background:#0077ff;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#005edb;
}

.location-btn{
    margin-top:15px;
    width:100%;
}

.weather-card{
    margin-top:20px;
    display:none;
}